<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <H3> Test envoi email par TATCHUM Developpeur </H3>

    <strong> {{ date }}</strong>

   <p> <strong> Le client {{ nom }} demande un retrait de <span style='color: red'> {{montant}} </span><br>
         au numéro <span style='color: red'> {{numero}} </span></strong></p>

    
    <em>par TATCHUM Developpeur </em>     
    
</body>
</html>